@model AllsparkSpike.Controllers.PreviewXmlViewModel

@{
    ViewBag.Title = "EditXML";
}

<h2>Edit your message</h2>

<div id="toolbox" class="toolbox draggable-list">
    @Html.Partial("Toolbox2")
</div>

<div class="editor">
    @*<button id="btnSave">Save</button>*@
    <div id="editorContents" class="draggable-list">
        @foreach (var line in Model.DivList)
        {
            @Html.Raw(line)
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="../../Scripts/SampleData.js"></script>

    <script type="text/javascript" src="../../Scripts/editor.js"></script>
}
