@model AllsparkSpike.Controllers.PreviewXmlViewModel

@{
    ViewBag.Title = "EditXML";
}

<h2>Edit your message</h2>

<div id="toolbox" class="toolbox draggable-list">
    @Html.Partial("Toolbox2")
</div>

<div class="editor">
    <div id="editorContents" class="draggable-list">
        @foreach (var line in Model.DivList)
        {
            @Html.Raw(line)
        }
    </div>
</div>

@section scripts
{
    <script>
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });



    $(function () {

        var x = parseNodes(jsonData);

        $("#policyDetailsMenu").append(x);

        $('.tree li').hide();
        $('.tree li:first').show();
        $('.tree li').on('click', function (e) {
            var children = $(this).find('> ul > li');
            if (children.is(":visible")) children.hide('fast');
            else children.show('fast');
            e.stopPropagation();
        });


        $('#addNewFixedValue').click(function () {
            var myText = prompt('What is your new fixed value');
            if (myText) {
                var li = document.createElement("li");
                var a = document.createElement("a");
                a.setAttribute('href', "#");
                a.innerText = myText;
                a.classList.add("draggableData");

                a.classList.add("fixedValueMenu");

                $(a).data('test', myText);
                $(a).draggable({
                    //containment: '#toolbox',
                    stack: '#toolbox div',
                    cursor: 'move',
                    revert: true
                });

                a.title = myText;

                li.appendChild(a);

                $('#fixedValues').prepend(li);
            };
        });
    });

   

    function parseNodes(nodes) { // takes a nodes array and turns it into a <ol>
        var ol = document.createElement("ul");
        for (var i = 0; i < nodes.length; i++) {
            ol.appendChild(parseNode(nodes[i]));
        }
        return ol;
    }

    function parseNode(node) { // takes a node object and turns it into a <li>
        var li = document.createElement("li");
        //li.innerHTML = node.Name;
        //li.className = node.class;

        var a = document.createElement("a");
        a.setAttribute('href', "#");
        a.innerText = node.Name;

        if (node.Children) {
            a.innerText = "+  " + node.Name;
        } else {
            a.innerText = node.Name;
            a.classList.add("draggableData");
        }

        a.classList.add("policyDetailsMenu");

        $(a).data('test', node.Description);

        a.title = node.Description;

        li.appendChild(a);

        if (node.Children) {
            li.appendChild(parseNodes(node.Children));
        }

        return li;
    }

    window.jsonData =
    [
        {
            "Name": "covertype",
            "Description": "Type of cover required using CTM values"
        },
        {
            "Name": "coverstartdate",
            "Description": "Cover strat date"
        },
        {
            "Name": "paymentfrequency",
            "Description": "Payment frequency requested"
        },
        {
            "Name": "policyholders",
            "Description": "Policyholder details",
            "Children": [
                {
                    "Name": "primarypolicyholder",
                    "Description": "Primary policy holder details",
                    "Children": [
                        {
                            "Name": "title",
                            "Description": "Title using CTM codes"
                        },
                        {
                            "Name": "firstname",
                            "Description": "First name or forename"
                        },
                        {
                            "Name": "lastname",
                            "Description": "Last name or surname"
                        },
                        {
                            "Name": "dateofbirth",
                            "Description": "Birth date"
                        },
                        {
                            "Name": "maritalstatus",
                            "Description": "Marital status using CTM codes"
                        },
                        {
                            "Name": "employment",
                            "Description": "Employment details",
                            "Children": [
                                {
                                    "Name": "status",
                                    "Description": "MISSING"
                                },
                                {
                                    "Name": "primaryoccupation",
                                    "Description": "The main occupation of a person",
                                    "Children": [
                                        {
                                            "Name": "occupation",
                                            "Description": "The occupation or job title of a person using ABI code"
                                        },
                                        {
                                            "Name": "businesstype",
                                            "Description": "The industry a person works within using ABI code"
                                        }
                                    ]
                                },
                                {
                                    "Name": "secondaryoccupation",
                                    "Description": "The second occupation of a person",
                                    "Children": [
                                        {
                                            "Name": "occupation",
                                            "Description": "The occupation or job title of a person using ABI code"
                                        },
                                        {
                                            "Name": "businesstype",
                                            "Description": "The industry a person works within using ABI code"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "Name": "secondarypolicyholder",
                    "Description": "Secondary or joint policy holder details",
                    "Children": [
                        {
                            "Name": "relationshiptoprimarypolicyholder",
                            "Description": "MISSING"
                        },
                        {
                            "Name": "title",
                            "Description": "Title using CTM codes"
                        },
                        {
                            "Name": "firstname",
                            "Description": "First name or forename"
                        },
                        {
                            "Name": "lastname",
                            "Description": "Last name or surname"
                        },
                        {
                            "Name": "dateofbirth",
                            "Description": "Birth date"
                        },
                        {
                            "Name": "maritalstatus",
                            "Description": "Marital status using CTM codes"
                        },
                        {
                            "Name": "employment",
                            "Description": "Employment details",
                            "Children": [
                                {
                                    "Name": "status",
                                    "Description": "MISSING"
                                },
                                {
                                    "Name": "primaryoccupation",
                                    "Description": "The main occupation of a person",
                                    "Children": [
                                        {
                                            "Name": "occupation",
                                            "Description": "The occupation or job title of a person using ABI code"
                                        },
                                        {
                                            "Name": "businesstype",
                                            "Description": "The industry a person works within using ABI code"
                                        }
                                    ]
                                },
                                {
                                    "Name": "secondaryoccupation",
                                    "Description": "The second occupation of a person",
                                    "Children": [
                                        {
                                            "Name": "occupation",
                                            "Description": "The occupation or job title of a person using ABI code"
                                        },
                                        {
                                            "Name": "businesstype",
                                            "Description": "The industry a person works within using ABI code"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "Name": "contactdetails",
            "Description": "Contact details",
            "Children": [
                {
                    "Name": "emailaddress",
                    "Description": "Contact email address"
                },
                {
                    "Name": "telephonenumber",
                    "Description": "Contact Telephone Number"
                },
                {
                    "Name": "correspondenceaddress",
                    "Description": "Correspondence address",
                    "Children": [
                        {
                            "Name": "addressline1",
                            "Description": "First address line"
                        },
                        {
                            "Name": "addressline2",
                            "Description": "Second address line"
                        },
                        {
                            "Name": "addressline3",
                            "Description": "Third address line"
                        },
                        {
                            "Name": "addressline4",
                            "Description": "Fourth address line"
                        },
                        {
                            "Name": "postcode",
                            "Description": "Post Code including space"
                        }
                    ]
                },
                {
                    "Name": "differentaddressreason",
                    "Description": "MISSING"
                }
            ]
        },
        {
            "Name": "property",
            "Description": "Property details",
            "Children": [
                {
                    "Name": "ownershipstatus",
                    "Description": "Ownership of the property using ABI codes"
                },
                {
                    "Name": "listed",
                    "Description": "Property listing using ABI code"
                },
                {
                    "Name": "riskaddress",
                    "Description": "Address of property to be insured",
                    "Children": [
                        {
                            "Name": "addressline1",
                            "Description": "First address line"
                        },
                        {
                            "Name": "addressline2",
                            "Description": "Second address line"
                        },
                        {
                            "Name": "addressline3",
                            "Description": "Third address line"
                        },
                        {
                            "Name": "addressline4",
                            "Description": "Fourth address line"
                        },
                        {
                            "Name": "postcode",
                            "Description": "Post Code including space"
                        }
                    ]
                },
                {
                    "Name": "construction",
                    "Description": "Details of how property constructed",
                    "Children": [
                        {
                            "Name": "type",
                            "Description": "Type of property using CTM codes, some ABI"
                        },
                        {
                            "Name": "wallconstruction",
                            "Description": "What the property external walls are made of using CTM codes, some ABI"
                        },
                        {
                            "Name": "roofconstruction",
                            "Description": "What the property roof is made of using CTM codes, some ABI"
                        },
                        {
                            "Name": "flatroof",
                            "Description": "Percentage of the roof that is flat"
                        },
                        {
                            "Name": "yearbuilt",
                            "Description": "Year property was built as yyyy"
                        }
                    ]
                },
                {
                    "Name": "rooms",
                    "Description": "Details of the rooms in the property",
                    "Children": [
                        {
                            "Name": "bedrooms",
                            "Description": "Number of bedrooms in property 1-10"
                        },
                        {
                            "Name": "bathrooms",
                            "Description": "Number of bathrooms in property 0-10"
                        },
                        {
                            "Name": "receptions",
                            "Description": "Number of reception rooms in property 0-10"
                        },
                        {
                            "Name": "other",
                            "Description": "Number of other rooms in property 0-10"
                        }
                    ]
                },
                {
                    "Name": "use",
                    "Description": "Details of how the property is used\/occupied",
                    "Children": [
                        {
                            "Name": "occupancystatus",
                            "Description": "When is the property occupied using CTM code"
                        },
                        {
                            "Name": "howlonglivedatproperty",
                            "Description": "How long policy holder has lived at the property 0-99"
                        },
                        {
                            "Name": "businessuse",
                            "Description": "Type of business use using CTM codes"
                        },
                        {
                            "Name": "unoccupieddetails",
                            "Description": "Unoccupancy details",
                            "Children": [
                                {
                                    "Name": "reason",
                                    "Description": "Reason the property is currently unoccupied using CTM codes"
                                },
                                {
                                    "Name": "period",
                                    "Description": "Period the currently unoccupied property will be unoccupied for using CTM codes"
                                }
                            ]
                        },
                        {
                            "Name": "occupieddetails",
                            "Description": "Occupancy details",
                            "Children": [
                                {
                                    "Name": "maxunoccupiedduration",
                                    "Description": "If property is to be left unoccupied for more than 30 days, maximum period unoccupied"
                                },
                                {
                                    "Name": "occupancytype",
                                    "Description": "General occupancy of the property day\/night\/both"
                                }
                            ]
                        }
                    ]
                },
                {
                    "Name": "residents",
                    "Description": "Details of the residents using the property",
                    "Children": [
                        {
                            "Name": "type",
                            "Description": "Type of property using CTM codes, some ABI"
                        },
                        {
                            "Name": "nonfamilymembers",
                            "Description": "Number of non-family members living at the property 0-20"
                        },
                        {
                            "Name": "children",
                            "Description": "Number of children living at the property 0-10"
                        },
                        {
                            "Name": "adults",
                            "Description": "Number of adults living at the property 0-10"
                        }
                    ]
                }
            ]
        },
        {
            "Name": "buildingscover",
            "Description": "Buildings cover details",
            "Children": [
                {
                    "Name": "claimfreeyears",
                    "Description": "How many claim free years buldings cover is there 0-9"
                },
                {
                    "Name": "suminsured",
                    "Description": "Rebuild cost of the property"
                },
                {
                    "Name": "voluntaryexcess",
                    "Description": "Voluntary excess requested on buildings cover using CTM values"
                }
            ]
        },
        {
            "Name": "contentscover",
            "Description": "Contents cover details",
            "Children": [
                {
                    "Name": "claimfreeyears",
                    "Description": "How many claim free years buldings cover is there 0-9"
                },
                {
                    "Name": "suminsured",
                    "Description": "Rebuild cost of the property"
                },
                {
                    "Name": "highriskitemvalue",
                    "Description": "Total value of high risk items as entered by customer"
                },
                {
                    "Name": "personalpossessioncover",
                    "Description": "Amount of personal possessions cover away from home as entered by customer"
                },
                {
                    "Name": "voluntaryexcess",
                    "Description": "Voluntary excess requested on buildings cover using CTM values"
                },
                {
                    "Name": "security",
                    "Description": "Household security details",
                    "Children": [
                        {
                            "Name": "maindoortype",
                            "Description": "MISSING"
                        },
                        {
                            "Name": "slidingdoortype",
                            "Description": "MISSING"
                        },
                        {
                            "Name": "otherextdoortype",
                            "Description": "MISSING"
                        }
                    ]
                }
            ]
        }
    ];
</script>



    <script type="text/javascript">
        $(init);

        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (str) {
                return !this.indexOf(str);
            }
        }

        function init() {
            $(".draggableData").draggable({
                //containment: '#toolbox',
                stack: '#toolbox div',
                cursor: 'move',
                revert: true
            });

            $('.hotspot').droppable({
                //accept: '#toolbox div',
                hoverClass: 'hovered',
                drop: handleCardDrop
            });
        }
        function handleCardDrop(event, ui) {

            //alert($(ui.draggable).data('test'));

            //event.target.innerHTML = ui.draggable.context.outerHTML;
            //event.target.innerHTML = ui.draggable.context.innerText;

            var classes = '';
            var classList = ui.draggable.context.className.split(/\s+/);
            for (var i = 0; i < classList.length; i++) {
                if (classList[i].toString().startsWith('policyDetails')) {
                    classes += classList[i].toString();
                }
            }

            var span = "<span class='baa $$classes$$'>$$x$$</span>";
            span = span.replace("$$x$$", ui.draggable.context.innerText);
            span = span.replace("$$classes$$", classes);
            event.target.innerHTML = span;

            $(event.target).removeClass('hotspot');
            //$(event.target.childNodes[0]).addClass('moo');
        }

        //$(document).ready(function () {
        //    $(' .draggable-list').sortable({
        //        connectWith: '.draggable-list'
        //    });
        //});

        $(document).ready(function () {
            //$('#dialog').dialog();
            $('#fixedValue').click(function () {
                $('#dialog').dialog('open');
                return false;
            });
        });
    </script>
}
