@model AllsparkSpike.Controllers.PreviewXmlViewModel

@{
    ViewBag.Title = "PreviewXML";
}

<h2>PreviewXML</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<textarea class="xmlPreview">@Model.XML</textarea>
