<!-- We will create a family tree using just CSS(3) The markup will be simple nested lists -->
<style type="text/css">
    .policyDetailMenuItems a {
        background-color: lightblue!important;
        border-style: dashed !important;
        border-color: black!important;
        border-width: 1px!important;
            }
</style>
@*<div class="tree" id="sdsd">
    <ul>
        <li>
            <a href="#">Toolbox</a>

            <ul>
                <li class="policyDetailMenuItems">
                    <a href="#">Policy Details</a>

                    <ul>
                        <li>
                            <a href="#">Policy Holder</a>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Child</a>

                    <ul>
                        <li>
                            <a href="#">Grand Child</a>
                        </li>
                        <li>
                            <a href="#">Grand Child</a>

                            <ul>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Grand Child</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Child</a>
                </li>
                <li>
                    <a href="#">Child</a>

                    <ul>
                        <li>
                            <a href="#">Grand Child</a>
                        </li>
                        <li>
                            <a href="#">Grand Child</a>

                            <ul>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>

                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Grand Child</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</div>*@

<hr/>

@*<div class="tree" id="moo"></div>*@

<div class="tree">
        <ul>
            <li id="moo">
                <a href="#">Toolbox</a>

            </li>

        </ul>
    </div>