<!-- We will create a family tree using just CSS(3) The markup will be simple nested lists -->
<style type="text/css">
    .policyDetailMenuItems a {
        background-color: lightblue!important;
        border-style: dashed !important;
        border-color: black!important;
        border-width: 1px!important;
            }
    !li ul {
         color: red;
        background-color: red;
     }
</style>

<hr/>

@*<div class="tree" id="moo"></div>*@

<div class="tree">
        <ul>
            <li id="moo">
                <a href="#">Policy Details</a>

            </li>

        </ul>
    </div>